.price__card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.price__card, 
.xprice__card {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.06);
    padding: 40px;
    max-width: 390px;
    box-sizing: border-box;
    flex: 1 1 290px;
}

.xprice__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px var(--wine);
}

.divider, 
.xprice__card .divider {
    width: 100%;
    height: 2px;
    margin-block: 30px;
}

.divider {
    background-color: var(--green);
}

.xprice__card .divider {
    background-color: var(--wine);
}

.top {
    text-align: center;
    min-height: 100px;
}

.top h4, 
.feature p {
    color: var(--green);
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 600;
}

.top p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.feature {
    display: grid;
    row-gap: 16px;
    place-content: center;
}

.feature p {
    text-align: center;
}

.feature_list {
    display: grid;
    gap: 24px;
}

.feature_list > div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.description {
    text-align: center;
}

.cta {
    display: flex;
    justify-content: center;
}

.xprice__card h4 {
    color: var(--wine);
}

.xprice__card .cta {
    justify-self: baseline;
}

@media (max-width:787px) {
    .top h4, 
    .feature p {
        font-size: 24px;
        line-height: 32px;
    }

    .top p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.024px;
    }

    .feature_list span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.035px;
    }
}