.step__topic__wrapper {
    margin-inline: auto;
    max-width: 600px;
    text-align: center;
}

.step__topic__wrapper p {
    font-size: 22px;
    padding-top: 1rem;
}

.steps__sec {
    margin-block: 64px;
    display: grid;
    row-gap: 20px;
}

.step__sec__wrapper {
    align-items: center;
}

.step__img__wrapper {
    display: flex;
}

.step__sec__wrapper img {
    max-width: 500px;
    width: 90%;
    aspect-ratio: 1;
}

.step__sec__wrapper:nth-child(even) .step__copy__wrapper {
    order: -1;
}

.step__sec__wrapper:nth-child(even) .step__img__wrapper {
    justify-content: flex-end;
}

.step__copy__wrapper {
    display: grid;
    row-gap: 1rem;
    max-width: 400px;
}

.step__copy__wrapper h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.step__copy__wrapper ul {
    margin: 0;
}

.step__copy__wrapper li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.step__number {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}

.step__note__wrapper {
    display: none;
}

.step__note__wrapper span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.step__sec__wrapper:nth-child(4) .step__note__wrapper {
    display: block;
}

@media (max-width:987px) {
    .step__sec__wrapper img {
        max-width: 300px;
        max-height: 300px;
        aspect-ratio: 1;
        margin: auto;
    }
}

@media (max-width:787px) {
    .step__topic__wrapper h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    .step__topic__wrapper p {
        padding-top: 0.25rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.024px;
    }

    .step__sec__wrapper img {
        max-width: 125px;
        max-height: 125px;
        aspect-ratio: 1;
    }

    .step__sec__wrapper:nth-child(even) .step__copy__wrapper {
        order: 1;
    }

    .step__copy__wrapper  {
        row-gap: 0.25rem;
    }

    .step__number {
        font-size: 16px;
    }

    .step__copy__wrapper h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px; 
    }

    .step__copy__wrapper li {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.035px;
    }
}