:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --pri-font: 'Outfit';
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --white: #fff;
  --dark-bg: #1D1B20;
  --dark-font: #1D1B20;
  --green: #23A455;
  --wine: #936;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--dark-font);
  background: var(--white);
  font-family: var(--pri-font);
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
}

h2, h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

p.subtext {
  color: var(--subtext-color, #383838);
  font-size: 22px;
  line-height: 28px;
}

p.headlinesmall {
  font-size: 24px;
  line-height: 32px;
}

p .wine {
  color: var(--wine);
}

button {
  padding: 12px 30px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.014px;
  border-radius: 8px;
  border: 2px solid var(--green);
}

.btn__pri,
.btn__sec,
.wine__btn__pri {
  transition: all 300ms ease-in-out;
}

.btn__pri:hover,
.btn__sec {
  background-color: transparent;
  color: var(--green);
}

.wine__btn__pri {
  background-color: var(--wine);
  color: var(--white);
  border: 2px solid var(--wine);
}

.btn__sec:hover,
.btn__pri {
  background-color: var(--green);
  color: var(--white);
}

.wine__btn__pri:hover {
  background-color: transparent;
  color: var(--wine);
}