@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit-Light";
  src: url("/fonts/Outfit-Light.woff2") format("woff2"),
    url("/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2"),
    url("/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Regular";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2"),
    url("/fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: url("/fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("/fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --pri-font: "Outfit", "Outfit-Regular", Arial, Helvetica, sans-serif;
  --font-300: "Outfit-Light", Outfit, Arial, Helvetica, sans-serif;
  --font-400: "Outfit-Regular", Outfit, Arial, Helvetica, sans-serif;
  --font-500: "Outfit-Medium", Outfit, Arial, Helvetica, sans-serif;
  --font-600: "Outfit-SemiBold", Outfit, Arial, Helvetica, sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --white: #fff;
  --dark-bg: #1d1b20;
  --dark-font: #1d1b20;
  --mobile-font: #383838;
  --green: #23a455;
  --wine: #936;
  --footer-text-colour: #ededed;
  --swiper-navigation-size: 32px !important;
  --swiper-theme-color: var(--green) !important;
}

html {
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--dark-font);
  background: var(--white);
  font-family: var(--pri-font);
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-family: var(--font-500);
  line-height: 64px;
}

h2,
h4 {
  font-size: 28px;
  font-family: var(--font-500);
  line-height: 36px;
}

h3 {
  font-size: 32px;
  font-family: var(--font-600);
  line-height: 40px;
}

p {
  font-size: 16px;
  font-family: var(--font-400);
  line-height: 24px;
  letter-spacing: 0.08px;
}

p.subtext {
  color: var(--subtext-color, #383838);
  font-size: 22px;
  line-height: 28px;
}

p.headlinesmall {
  font-size: 24px;
  line-height: 32px;
}

.wine {
  color: var(--wine);
}

.green {
  color: var(--green);
}

.white__BG {
  background-color: var(--white);
}

nav a.active {
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--white);
  background: var(--green);
}

nav a.active:hover {
  color: var(--dark-font);
}

footer {
  background-color: var(--dark-bg);
  color: var(--white);
}

button {
  padding: 12px 30px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.014px;
  border-radius: 8px;
  border: 2px solid var(--green);
}

.btn__pri,
.btn__sec,
.wine__btn__pri {
  transition: all 300ms ease-in-out;
}

.btn__pri:hover,
.btn__sec {
  background-color: transparent;
  color: var(--green);
}

.wine__btn__pri {
  background-color: var(--wine);
  color: var(--white);
  border: 2px solid var(--wine);
}

.btn__sec:hover,
.btn__pri {
  background-color: var(--green);
  color: var(--white);
}

.wine__btn__pri:hover {
  background-color: transparent;
  color: var(--wine);
}

.container__width {
  max-width: 1200px;
  margin: 0px auto;
  padding-inline: 10px;
  box-sizing: border-box;
}

.margin__block__2 {
  margin-block: 2rem;
}

.margin__top__80 {
  margin-top: 80px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--dark-font) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}

.swiper-slide {
  display: grid !important;
  justify-content: center;
}

.szh-accordion {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

h3.szh-accordion__item-heading {
  position: relative;
  margin-block: 30px !important;
}

h3.szh-accordion__item-heading button {
  padding: 10px 0px;
  border: none;
  background-color: transparent;
  font-family: "Outfit-Regular";
  color: var(--dark-font);
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  text-align: left;
  z-index: 2;
  position: relative;
}

h3.szh-accordion__item-heading::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none"> <path d="M27.1371 13.0615L17.1371 23.0615C16.9978 23.2013 16.8322 23.3123 16.6499 23.388C16.4675 23.4637 16.272 23.5027 16.0746 23.5027C15.8772 23.5027 15.6817 23.4637 15.4994 23.388C15.3171 23.3123 15.1515 23.2013 15.0121 23.0615L5.01212 13.0615C4.73033 12.7797 4.57202 12.3975 4.57202 11.999C4.57202 11.6005 4.73033 11.2183 5.01212 10.9365C5.29392 10.6547 5.67611 10.4964 6.07462 10.4964C6.47314 10.4964 6.85533 10.6547 7.13712 10.9365L16.0759 19.8752L25.0146 10.9352C25.2964 10.6534 25.6786 10.4951 26.0771 10.4951C26.4756 10.4951 26.8578 10.6534 27.1396 10.9352C27.4214 11.217 27.5797 11.5992 27.5797 11.9977C27.5797 12.3962 27.4214 12.7784 27.1396 13.0602L27.1371 13.0615Z" fill="black"/></svg>');
  position: absolute;
  right: 0px;
  transition: all 300ms ease-in-out;
}

.szh-accordion__item--expanded h3.szh-accordion__item-heading::after {
  transform: scaleY(-1);
}

.szh-accordion__item {
  border-bottom: solid 1px var(--dark-bg);
}

.szh-accordion__item-content {
  margin-block: 30px 20px;
}

.section__label {
  color: #414042;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

@media (max-width: 787px) {
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.014px;
  }

  p {
    color: var(--mobile-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.035px;
  }

  .container__width {
    padding-inline: 20px;
  }

  h3.szh-accordion__item-heading button {
    font-size: 16px;
    line-height: 24px;
  }

  h3.szh-accordion__item-heading::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 33 32" fill="none"> <path d="M27.1371 13.0615L17.1371 23.0615C16.9978 23.2013 16.8322 23.3123 16.6499 23.388C16.4675 23.4637 16.272 23.5027 16.0746 23.5027C15.8772 23.5027 15.6817 23.4637 15.4994 23.388C15.3171 23.3123 15.1515 23.2013 15.0121 23.0615L5.01212 13.0615C4.73033 12.7797 4.57202 12.3975 4.57202 11.999C4.57202 11.6005 4.73033 11.2183 5.01212 10.9365C5.29392 10.6547 5.67611 10.4964 6.07462 10.4964C6.47314 10.4964 6.85533 10.6547 7.13712 10.9365L16.0759 19.8752L25.0146 10.9352C25.2964 10.6534 25.6786 10.4951 26.0771 10.4951C26.4756 10.4951 26.8578 10.6534 27.1396 10.9352C27.4214 11.217 27.5797 11.5992 27.5797 11.9977C27.5797 12.3962 27.4214 12.7784 27.1396 13.0602L27.1371 13.0615Z" fill="black"/></svg>');
    width: 16px;
    height: 16px;
    top: 16px;
  }

  .szh-accordion__item--expanded h3.szh-accordion__item-heading::after {
    transform: scaleY(-1) translateY(-16px);
  }

  h3.szh-accordion__item-heading {
    margin-block: 24px;
  }

  .section__label {
    color: #414042;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
  }
}
