.nav__bar__wrapper {
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 99;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}

.logo {
    max-width: 198px;
    max-height: 34px;
    width: 100%;
    height: 100%;
    aspect-ratio: 198/34;
}

.nav__bar nav menu {
    display: flex;
    column-gap: 10px;
}

.nav__bar li {
    display: block;
    cursor: pointer;
}

.nav__bar a {
    transition: all 300ms ease-in-out;
    padding: 10px 20px;
    color: var(--dark-font);
}

.nav__bar a:hover {
    color: var(--green);
}

.main__menu {
    position: relative;
}

.main__menu:hover .sub__menu {
    display: block;
}

.sub__menu {
    display: none;
    margin-top: 5px;
    position: absolute;
    padding: 3px 0.5px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--white);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}

.sub__menu__list {
    padding: 10px 20px;
    text-wrap: nowrap;
    min-width: 200px;
    position: relative;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 250ms ease-in-out;
}

.sub__menu__list:hover {
    background-color: var(--green-light);
}

.sub__menu__list a {
    padding: 0px;
}

.sub__active {
    background-color: var(--green);
    color: var(--green-light);
}

.sub__menu__list:nth-child(2) {
    border-block: solid 1px var(--green-light);
}

.sub__menu__list span, 
.mobile__menu ul span {
    background-color: var(--green);
    color: var(--white);
    font-size: 0.6rem;
    padding: 2px 5px;
    border-radius: 10px;
    cursor: wait;
    transition: all 300ms ease-in-out;
}

.sub__menu__list span:empty, 
.mobile__menu ul span:empty {
    display: none;
}

.sub__menu__list:hover span {
    background-color: var(--wine);
}

.link__disabled {
    cursor: not-allowed;
}

.link__disabled a {
    pointer-events: none;
}

.mobile__nav__hamburger {
    display: none;
    cursor: pointer;
}

.mobile__nav__hamburger input {
    display: none;
}

@media (max-width:950px) {
    .nav__bar a {
        padding: 0px;
    }

    .logo {
        max-width: 100px;
        max-height: 17px;
        aspect-ratio: 100/17;
    }

    .nav__bar nav, 
    .nav__btn {
        display: none;
    }

    .mobile__nav__hamburger {
        cursor: pointer;
    }

    .mobile__nav__hamburger, 
    .mobile__nav__open {
        display: flex;
        align-items: center;
    }

    .mobile__menu ul {
        background-color: var(--mobile-menu-bg);
    }

    .mobile__menu ul li {
        padding: 10px 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile__menu ul li:nth-child(2) {
        border-block: solid 1px #737171;
    }
}


/* ############################################## */
/* MOBILE MENU STYLING IS IN THE GLOBAL CSS FILE */
/* ############################################ */