.testimonial__card {
    position: relative;
    text-align: center;
    padding: 80px 25px 60px;
    margin-block: 50px 40px;
    max-width: 420px;
    min-width: 220px;
    border-radius: 1.25rem;
    background: var(--white);
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.06);
}

.testimonial__card img {
    max-width: 96px;
    max-height: 96px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate( -50%, -40%);
}

.testimonial__testimony {
    padding-block: 20px 32px;
}

.testimonial__client__name h4 {
    color: var(--dark-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 12px;
}

@media (max-width:787px) {
    .testimonial__card img {
        max-width: 48px;
        max-height: 48px;
    }
}