.hero {
    display: grid;
    grid-template-columns: auto 50%;
    gap: 40px 80px;
    align-items: center;
    margin-bottom: 80px;
}

.hero h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
}

.hero input {
    border: solid 1px var(--green) !important;
}

.hero input:focus-visible {
    outline: var(--green) solid 1px;
}

.category__screen, 
.sub__category__screen {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.category__screen > a {
    display: flex;
    justify-content: center;
    flex: 0 1 200px;
    padding-inline: 50px;
}

.category__screen > a, 
.sub__category__screen > a {
    box-sizing: border-box;
    max-height: 192px;
    min-width: 155px;
    min-height: 168px;
    border-radius: 20.115px;
    background-color: var(--white);
    box-shadow: 0px 5.029px 25.144px 4.191px rgba(35, 164, 85, 0.10);
    border: solid 1px var(--white);
    transition: border 300ms ease-in-out;
}

.category__card {
    text-align: center;
    align-self: center;
}

.category__screen > a:hover, 
.sub__category__screen > a:hover {
    border: solid 1px var(--green);
}

.widgets__list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.widgets__list a:hover {
    color: var(--wine);
}

.widgets__list img {
    max-width: 26px;
}

.sub__category__screen > a {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 30px;
    flex: 0 1 200px;
    padding: 20px;
}

.sub__category__screen span {
    font-family: var(--font-400);
    color: #6B6868;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.024px;
    text-align: center;
}

.article__screen {
    margin-top: 40px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20.115px;
    background-color: var(--white);
    box-shadow: 0px 5.029px 25.144px 4.191px rgba(35, 164, 85, 0.10);
    border: solid 1px var(--white);
    transition: border 300ms ease-in-out;
}

.article__screen p {
    font-family: var(--font-400);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.024px;
    color: var(--mobile-font);
}

.article__screen h3 {
    font-family: var(--font-400);
    font-size: 22px;
    line-height: 28px;
    margin-block: 40px 24px;
}

.article__screen h2 {
    font-family: var(--font-400);
    font-size: 36px;
    line-height: 44px;
}

.article__body {
    margin-bottom: 50px;
}

.article__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__interaction {
    display: flex;
    align-items: center;
    gap: 38px;
}

.article__interaction div {
    display: flex;
    gap: 15px;
}

.article__screen button {
    border: none;
    background-color: transparent;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.article__screen button:disabled {
    opacity: 0.5;
}

.article__like__number {
    color: var(--green);
}

.article__dislike__number {
    color: var(--error-color);
}

.article__update__date {
    color: #6B6868;
    font-family: var(--font-400);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.024px;
}

@media (max-width:787px) {
    .hero {
        display: block;
    }
    .hero h1 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    .hero img {
        display: none;
    }
    .category__screen > a, 
    .sub__category__screen > a {
        flex: 1 1 155px;
    }
    .sub__category__screen > a {
        align-items: center;
    }
    .article__screen {
        padding: 50px 20px;
    }
    .article__screen h2 {
        font-family: var(--font-500);
        font-size: 24px;
        line-height: 28px;
    }
    .article__foot {
        flex-direction: column;
        row-gap: 20px;
    }
}